<html>
    <body>
        <h1>Choose a new password!</h1>
        <p>You have requested a new password for the account '{{username}}'. To assign new password, click on this link:</p>
        <p><a href='{{url}}'>{{url}}</a></p>
        <p>This link is only valid for 30 minutes from now.</p>
        <p>PS. If you did not request a new password, do not worry; your account is intact and your old password still works.</p>
        <p>Yours truly,</p>
        <p><i>The Phylogeny Explorer</i></p>
    </body>
</html>