@import '../../components/variables.css';

.thumbnail {
    padding:10px;
    width: 300px;
    height: 300px;
    overflow-y: hidden;
    float: left;
    margin: 5px;
}

.thumbnail img {
    width: 300px;
}

h1 {
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
}

.alternate_names {
    color: #555;
    font-style: italic;
}

.alternate_names b {
    font-weight: bold;
}

.controls {
    float: right;
}

.image_container {
    overflow: auto;
}

.clade_parent span {
    font-size: 0.6em;
    padding-left: 5px;
}

.attribution {
    vertical-align: bottom;
    padding-bottom: 7px;
    padding-left: 10px;
}