@import '../../components/variables.css';

.container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 62px;
    left: 0;
    max-width: none;
}

.container svg {
    cursor: grab;
}

.container svg.moving {
    cursor: grabbing;
}

.edge {
    fill: none;
    stroke: #555;
    stroke-opacity: 1;
    stroke-width: 2px;
}

.node circle {
    fill: #999;
}

.node text {
    font-size: 13px;
}

.node_internal circle {
    fill: #555;
}

.node_internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    cursor: pointer;
}

.node_internal text:hover {
    fill: orangered;
    font-weight: bold;
}

.trigger_button {
    padding: 0 5px;
    height: 22px;
}

.trigger_button span {
    padding-top: 3px;
}

.info_window {
    max-width: 300px;
}

.description {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.search_form {
    position: absolute;
    top: -49px;
    left: 50%;
    margin-left: -25%;
    background-color: rgba(0,0,0,0.8);
    padding: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-right: 5px;
    z-index: 1050;
    width: 50%;
    border-radius: 3px;
}

.search_form_group {
    width: 100%;
}

.search_box {
  width: 100%;
}

.search_form input,
.search_form select {
    border: 0;
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    background: none;
    color: #efefef;
}

.search_form select {
    background-color: rgba(0,0,0,0.8);
}

.search_form input::placeholder {
    color: #ffffff;
}

.search_form input:focus,
.search_form select:focus {
    box-shadow: none;
}

.depth_form_group {
    position: absolute;
    top: 0;
    right: 5px;
}

.reset_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.attribution {
    display: block;
    margin-bottom: 10px;
}
